<!DOCTYPE html>
<html lang="ar" dir="rtl">

    <%- include("./partials/head.ejs") %>


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" >
                <%- include("./partials/nav.ejs") %>
            </div>
            <!--------------------END ASIDE  ------------------>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">هل انت متأكد من انك تريد حذف الامتحان ؟</h1>
        </div>
        <% if (getQuizAllData) { %>
         
    
            <div class="modal-body">
            <h2>اسم الامتحان : <span><%= getQuizAllData.quizName %></span> </h2>
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-success ms-5" data-bs-dismiss="modal">لا  </button>
            <a href="/teacher/deleteQuiz/<%= getQuizAllData._id %>"  class="btn btn-outline-danger">نعم</a> 
        </div>
        <% } %>
      </div>
    </div>
  </div>
            <div class="col-lg-10 ">
                
                 <main>

                    <div class="row">
                        <div class="col-md-6">
                            <h1>اضف امتحان</h1>
                          
                           
                        </div>

                        <div class=" col-md-6 ">
                            <div class="left float-start ms-3" style="margin-top: 0.2rem;">
                                <div class="top">
                                    <button id="menu-btn">
                                        <span class="material-icons-sharp">
                                            menu
                                        </span>
                                    </button>
                                    <div class="theme-toggler">
                                        <span class="material-icons-sharp active">
                                            light_mode
                                        </span>
                                        <span class="material-icons-sharp">
                                            dark_mode
                                        </span>
                                    </div>
                                    <div class="profile">
                                        <div class="info">
                                            <p>اهلا بك،<b id="userName"> </b></p>
                                        </div>
                                        <div class="profile-photo">
                                            <img src="../images/profile-1.jpg" alt="profile photo">
                                        </div>
                                    </div>
                                </div>

                                <!-- END OF TOP -->
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-md-6">
                        <form  action="/teacher/addQuiz" method="get" id="getVideosToQuiz" >
                            <select name="Grade" class="slections" required>
                                <option value="">اختر الصف الدراسي</option>
                        <% if (Grade) { %>
                                <option value="Grade1" <%= Grade === 'Grade1' ? 'selected' : '' %>>الصف الاول الثانوي</option>
                                <option value="Grade2" <%= Grade === 'Grade2' ? 'selected' : '' %>>الصف الثاني الثانوي</option>
                                <option value="Grade3" <%= Grade === 'Grade3' ? 'selected' : '' %>>الصف الثالث الثانوي</option>
                      
                        <% } else{ %>
                            <option value="Grade1">الصف الاول الثانوي</option>
                            <option value="Grade2"  >الصف الثاني الثانوي</option>
                            <option value="Grade3">الصف الثالث الثانوي</option>
                  
                            <% } %>

                    </select>
                            <button class=" btnstartAddQuiz" type="submit" >جلب البيانات   </button>

                        </form>


                        <h1>اضافه امتحان</h1>
                        <div>

                            <select name="Grade" id="Grade" class="slections" required>
                                <option class="shape"  value="">اختر الصف الدراسي</option>
                                <option value="Grade1">الصف الاول الثانوي</option>
                                <option value="Grade2">الصف الثاني الثانوي </option>
                                <option value="Grade3">الصف الثالث الثانوي</option>
                            </select>
                        <!-- <select id="videosName" name="videoWillbeOpen"  class="slections" >
                            <option value="">اختر اسم الفيديو الذي سيفتح </option>
                            <% if (videoData) { %>
                                <% videoData.forEach(chapter => { %>
                                    <% chapter['chapterLectures'].forEach(lec => { %>
                                        <option value="<%= lec._id %>"><%= lec.videoTitle %></option>
                                    <% }) %>
                                <% }) %>
                            <% } %>
                        
                        </select> -->

                        <input type="number" class="timeofquiz" name="timeOfQuiz" id="timeofquiz" placeholder="وقت الامتحان" required/>
                        <input type='text' name='quizName'  class="timeofquiz" id='nameOfNewQuiz' placeholder="اسم الامتحان" required/>
                        <input type='number' name='sampleQuestions'  class="timeofquiz w-25" id='sampleQuestions' placeholder="  عدد الاسئله للطالب" required/>
                        
                        <select name="prepaidStatus" id="prepaidStatus"  class="slections" required>
                            <option selected value="Free">مجاني</option>
                            <option  value="Pay">مدفوع</option>
                        </select>

                        <button class=" btnstartAddQuiz" type="button"  id="SubmitQuiz"> رفع جميع البيانات</button>
                        <h2 style="color: rgb(229, 23, 23);" id="message">
                           
                        </h2>
                    </div>
                      
                        </div>
                        <div class="col-md-6">
                          <form id="quizForm">
                            <select id="sel" name="quizId" required>
                                <option value="">اختر الامتحان</option>
                                <% if (quizData) { %>
                                <% quizData.forEach(quiz => { %>
                                    <option value="<%= quiz._id %>"><%= quiz.quizName %></option>
                                <% }) %>
                                <% } %>
                            </select>

                            <button id="collectData" type="button">جمع البيانات <i class="fa-solid fa-database"></i></button>
                            </form>


                            <form  method="post" id="UpdateForm">

                                <div class="more-options ">
                                    <h2>خيارات اضافيه : </h2>
                            
                                   <div class="row">
                                    <div class="col-md-4">
                                        <input type='text' name='quizName'  class="timeofquiz w-100" id='nameOfQuizUpdate' value=""  placeholder="اسم الامتحان" required/>

                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="timeofquiz w-100" name="timeOfQuiz" id="timeofquizUpdate" value="" placeholder="وقت الامتحان" required/>

                                    </div>
                                    <div class="col-md-4">

                                        <select name="quizStatus" class="w-100 quizStatus" id="quizStatusUpdate" required>
                                            <option value="">حاله الامتحان</option>
                                            <option value="Active"  >تفعيل الامتحان واخفاء الاجابات </option>
                                            <option value="disActive" >ايقاف الامتحان واظهار الاجابات</option>
                                        </select> 

                                    </div>
                                
                                    <div class="col-md-4 mt-3">  
                                        <select name="permissionToShow" class="w-100 quizStatus" id="permissionToShowUpdate" required>
                                        <option value="">حاله الامتحان</option>
                                        <option  value="apper" >اظهار الامتحان</option>
                                        <option  value="disApper"  >اخفاء الامتحان</option>
                                        </select> 
                                </div>
                                    <div class="col-md-4 mt-3">
                                             <button type="button" class="btn btn-outline-danger me-2 w-100 d-none" id="removeQuiz" data-bs-toggle="modal" data-bs-target="#exampleModal">حذف الامتحان <i class="fa-solid fa-trash"></i></button>

                                    </div>
                                    <div class="col-md-4 mt-3">
                                            <button type="submit"  class="w-100 btn btn-outline-warning d-none" id="SaveUpdates" >حفظ التغيرات</button>

                                    </div>
                                   </div>

                                
                                  
                                
                              
                                </div> 
                            </form>

                         </div>
                    </div>
                        
                    <div class="row">
                    
                        <div class="col-md-6">
                            
                            <div class="form-question">
                            
                               <div id="addQuestionForm">
                                <div class="box box1">
                                    <img id="questionimg">
                                </div>
                                <input type="file" id="selQuestionPhotoBtn" class="Qcount" placeholder="اختر صوره" onchange="previewImage(event)">
                                <button id="progress-bar" name="Progress" class="Qcount"></button>
                                <input type="text" name="questionPhoto" id="questionPhoto" value="" class="d-none">
                                <textarea class="form-control answer" id="Qtitle" cols="30" rows="2" placeholder="عنوان السؤال" required></textarea>
                                <textarea class="form-control answer" id="answer1" cols="30" rows="2" placeholder="الاجابه الاولي" required></textarea>
                                <textarea class="form-control answer" id="answer2" cols="30" rows="2" placeholder="الاجابه الثانيه" required></textarea>
                                <textarea class="form-control answer" id="answer3" cols="30" rows="2" placeholder="الاجابه الثالثه" required></textarea>
                                <textarea class="form-control answer" id="answer4" cols="30" rows="2" placeholder="الاجابه الرابعه" required></textarea>
                                <input type="number" id="ranswer" required placeholder="رقم الاجابه الصحيحه">
                                <div class="form-buttons">
                                    <button type="button" id="add" class="add" onclick="addQuestion()"><i class="fa-solid fa-plus"></i> Add Question</button>
                                </div>
                            </div>

                            </div>

                        </div>
                
                        <div class="col-md-6">
                        
                            <div id="show-data-Added">

                              <div id="questionsContainer"></div>


                            </div>

                        </div>
                    </div>
            </main>

            </div>


            <!-------------------- END OF MAIN --------------------->
         
        </div>
    </div>



    <script src="../assest/bootstrap.bundle.min.js"></script>
    <script src="../assest/bootstrap.min.js"></script>




     <script>

    
   
    const sdieMenu = document.querySelector("aside");
    const menuBtn = document.querySelector("#menu-btn");
    const closeBtn = document.querySelector("#close-btn");
  
    menuBtn.addEventListener("click", () => {
      sdieMenu.style.display = "block";
    });
  
    closeBtn.addEventListener("click", () => {
      sdieMenu.style.display = "none";
    });

     
      
        const showDataAdded = document.getElementById('show-data-Added');
        const getVideosToQuiz = document.getElementById('getVideosToQuiz')
        

  


        function openToUpdate(id){
            console.log(id)
            let newId = id.slice(2)
            document.getElementById(`Qtitle_${newId}`).removeAttribute('disabled')
            document.getElementById(`answer1_${newId}`).removeAttribute('disabled')
            document.getElementById(`answer2_${newId}`).removeAttribute('disabled')
            document.getElementById(`answer3_${newId}`).removeAttribute('disabled')
            document.getElementById(`answer4_${newId}`).removeAttribute('disabled')
            document.getElementById(`ranswer_${newId}`).removeAttribute('disabled')
        }

      </script>


<script>
    let questions = []; // Array to hold questions
    const SubmitQuiz = document.getElementById('SubmitQuiz');
    const add = document.getElementById('add');
    const questionimg = document.getElementById('questionimg');
    const title = document.getElementById('Qtitle');
    const answer1 = document.getElementById('answer1');
    const answer2 = document.getElementById('answer2');
    const answer3 = document.getElementById('answer3');
    const answer4 = document.getElementById('answer4');
    const ranswer = document.getElementById('ranswer');
    const questionPhoto = document.getElementById('questionPhoto');
    let editIndex = null; 

    function addQuestion() {
    // Validate the input fields
        if (!title.value || !answer1.value || !answer2.value || !answer3.value || !answer4.value || !ranswer.value) {
            alert('برجاء ادخال جميع البيانات');
            return;
        }

        const question = {
            id: Date.now(), // Unique ID for the question
            questionPhoto: questionPhoto.value,
            title: title.value,
            answer1: answer1.value,
            answer2: answer2.value,
            answer3: answer3.value,
            answer4: answer4.value,
            ranswer: ranswer.value
        };

        if (editIndex !== null) {
            // Update the existing question at the specified index
            questions[editIndex] = question;
            editIndex = null; // Reset the edit index
            add.innerHTML = 'Add Question'; // Reset button text
        } else {
            // Add a new question to the array
            questions.push(question);
        }

        renderQuestions(); // Re-render the list of questions
        clearForm(); // Clear the input form
    }

    function editQuestion(index) {
        const question = questions[index];
        title.value = question.title;
        answer1.value = question.answer1;
        answer2.value = question.answer2;
        answer3.value = question.answer3;
        answer4.value = question.answer4;
        ranswer.value = question.ranswer;
        questionPhoto.value = question.questionPhoto;

        editIndex = index; // Set the index for updating
        add.innerHTML = 'Update'; // Change the button text to "Update"

        window.scrollTo({
            top: 0,
            behavior: 'smooth', // Smooth scrolling to the top
        });
    }


    function deleteQuestion(index) {
        questions.splice(index, 1);
        renderQuestions();
    }

    function clearForm() {
            title.value = '';
            answer1.value = '';
            answer2.value = '';
            answer3.value = '';
            answer4.value = '';
            ranswer.value = '';
            questionPhoto.value = '';
            questionimg.src = '';
            }

    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            document.getElementById('questionimg').src = reader.result;
            document.getElementById('questionPhoto').value = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    function renderQuestions() {
            const container = document.getElementById('questionsContainer');
            container.innerHTML = '';

            questions.forEach((question, index) => {
                const questionHTML = `
                    <div class="form-question-added" id="question_${question.id}">

                        ${question.questionPhoto ? ` 
                        <div class="box box1">
                        <img src="${question.questionPhoto}">
                        </div>
                        ` : ''}
                    
                        <textarea class="form-control answer" disabled>${question.title}</textarea>
                        <textarea class="form-control answer" disabled>${question.answer1}</textarea>
                        <textarea class="form-control answer" disabled>${question.answer2}</textarea>
                        <textarea class="form-control answer" disabled>${question.answer3}</textarea>
                        <textarea class="form-control answer" disabled>${question.answer4}</textarea>
                        <input type="number" disabled value="${question.ranswer}" class="rightanswer">
                        <div class="form-buttons">
                            <button type="button" class="update" onclick="editQuestion(${index})"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                            <button type="button" class="deleteBTN" onclick="deleteQuestion(${index})"><i class="fa-solid fa-trash"></i> Delete</button>
                        </div>
                    </div>
                `;
                container.innerHTML += questionHTML;
            });
        }

    SubmitQuiz.addEventListener('click',async()=>{
        console.log(questions)
        const quizName = document.getElementById('nameOfNewQuiz').value;
        const timeOfQuiz = document.getElementById('timeofquiz').value;
        const Grade = document.getElementById('Grade').value;
        const prepaidStatus = document.getElementById('prepaidStatus').value;
        const sampleQuestions = document.getElementById('sampleQuestions').value
        console.log(quizName, timeOfQuiz, Grade, prepaidStatus)
        if(!quizName || !timeOfQuiz || !Grade || !prepaidStatus || questions.length === 0 || !sampleQuestions){
            alert('برجاء ادخال جميع البيانات')
            return;
        }


        const quizData = {
            quizName,
            timeOfQuiz,
            Grade,
            prepaidStatus,
            questions,
            sampleQuestions,
        }

        // console.log(quizData)
       const response =  await fetch('/teacher/QuizSubmit',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(quizData)
        })
        console.log(response); // Log the response object

        const data = await response.json()
        console.log(data)
        if(response.ok){
            alert('تم اضافه الامتحان بنجاح')
            window.location.reload()
        }else{
            alert('حدث خطأ ما')
        }

    })
    

</script>


<script>
    const quizForm = document.getElementById('quizForm');
    const collectDataButton = document.getElementById('collectData');
    let quizId = null;
    collectDataButton.addEventListener('click', async () => {
    quizId = document.getElementById('sel').value;
   
    if (!quizId) {
        alert('برجاء اختيار امتحان');
        return;
    }

    try {
        const response = await fetch(`/teacher/getQuizAlldata?quizId=${quizId}`);
        if (!response.ok) {
        throw new Error('Failed to fetch quiz data');
        }

        const data = await response.json();
        console.log('Fetched Quiz Data:', data);

        // Use the fetched data (e.g., populate a form or render questions)
        const { getQuizAllData } = data;

        // Example: Log questions and other quiz data
        questions = data.questions;

        if(questions.length > 0){
            renderQuestions()
        }
        // Optionally call functions to update the DOM
        renderQuizDetails(getQuizAllData);
    } catch (error) {
        console.error(error);
        alert('حدث خطأ أثناء جلب بيانات الامتحان');
    }
    });


    function renderQuizDetails(getQuizAllData) {
        console.log(getQuizAllData)
        // Render the quiz details (e.g., quiz name, time, status, etc.)
        const quizName = document.getElementById('nameOfQuizUpdate');
        const timeOfQuiz = document.getElementById('timeofquizUpdate');
        const quizStatus = document.getElementById('quizStatusUpdate');
        const permissionToShow = document.getElementById('permissionToShowUpdate');
        const SaveUpdates = document.getElementById('SaveUpdates');
        const removeQuiz = document.getElementById('removeQuiz');
        quizName.value = getQuizAllData.quizName;
        timeOfQuiz.value = getQuizAllData.timeOfQuiz;
        
        if(getQuizAllData.isQuizActive){
            quizStatus.value = 'Active'
        }else{
            quizStatus.value = 'disActive'
        }
        if(getQuizAllData.permissionToShow){
            permissionToShow.value = 'apper'
        }else{
            permissionToShow.value = 'disApper'
        }

      

        SaveUpdates.classList.remove('d-none');
        removeQuiz.classList.remove('d-none');  
     

    }


  const UpdateForm = document.getElementById('UpdateForm');   


    UpdateForm.addEventListener('submit',async(e)=>{
        e.preventDefault();
        const quizName=UpdateForm['quizName'].value;
        const timeOfQuiz=UpdateForm['timeOfQuiz'].value;
        const quizStatus=UpdateForm['quizStatus'].value;
        const permissionToShow=UpdateForm['permissionToShow'].value;
        console.log(quizStatus)
        console.log(quizName, timeOfQuiz, quizStatus, permissionToShow, questions)

        if(!quizName || !timeOfQuiz || !quizStatus || !permissionToShow || questions.length === 0){
            alert('برجاء ادخال جميع البيانات')
            return;
        }

        const quizData = {
            quizName,
            timeOfQuiz,
            quizStatus,
            permissionToShow,
            questions
        }

        try{
     const response = await fetch(`/teacher/updateQuiz/${quizId}`,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(quizData)
                })
                const data = response.json()

                if(response.ok){
                    alert('تم تحديث الامتحان بنجاح')
                    window.location.reload()
                }else{
                    alert('حدث خطأ ما')
                }
        }catch(error){
            console.error(error);
            alert('حدث خطأ أثناء تحديث الامتحان');
        }
      


                
    })

   



</script>






<script type="module" >
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-app.js";
      import {
          getDatabase,
          ref,
          set,
          onValue,
          child,
          get,
          update,
          remove,
          push,
      } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-database.js";
      import {
          getAuth,
          createUserWithEmailAndPassword,
          signInWithEmailAndPassword,
          signOut,
          GoogleAuthProvider,
          signInWithPopup,
          signInWithRedirect,
          FacebookAuthProvider,
          onAuthStateChanged,
      } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-auth.js";
     
      import {
          getStorage,
          ref as sRef,
          uploadBytesResumable,
          getDownloadURL,
      } from "https://www.gstatic.com/firebasejs/9.9.3/firebase-storage.js";

      // Your web app's Firebase configuration
      const dbfirebaseConfig = {
          apiKey: "AIzaSyChX6oD8uA1tWR_hNzcVzOOZMYwXsLW-TA",
          authDomain: "allasharaf.firebaseapp.com",
          databaseURL: "https://allasharaf-default-rtdb.firebaseio.com",
          projectId: "allasharaf",
          storageBucket: "allasharaf.appspot.com",
          messagingSenderId: "638342504235",
          appId: "1:638342504235:web:f3350e5bb8a63e41bc2f6e"
      };
      const storageConfig = {
          apiKey: "AIzaSyC0VUgV2B_ClqKImLQAafbklwKZRabod0A",
          authDomain: "biodiva-fa1b0.firebaseapp.com",
          databaseURL: "https://biodiva-fa1b0-default-rtdb.firebaseio.com",
          projectId: "biodiva-fa1b0",
          storageBucket: "biodiva-fa1b0.appspot.com",
          messagingSenderId: "262124821606",
          appId: "1:262124821606:web:09311e0be3fc9b7634a1a7"
      };
      const storageApp = initializeApp(storageConfig, "storage");
      const dbApp = initializeApp(dbfirebaseConfig, "db");
      const db = getDatabase(dbApp);
      const authConfig = {
          apiKey: "AIzaSyChX6oD8uA1tWR_hNzcVzOOZMYwXsLW-TA",
          authDomain: "allasharaf.firebaseapp.com",
          databaseURL: "https://allasharaf-default-rtdb.firebaseio.com",
          projectId: "allasharaf",
          storageBucket: "allasharaf.appspot.com",
          messagingSenderId: "638342504235",
          appId: "1:638342504235:web:f3350e5bb8a63e41bc2f6e"
      };
      const authApp = initializeApp(authConfig, "auth");
      const auth = getAuth(authApp);
      const dbRef = ref(db);





let files = []
let reader = new FileReader();
let imgUrl 


document.getElementById("selQuestionPhotoBtn").onchange = (e)=>{

             files = e.target.files;
            reader.readAsDataURL(files[0]);
            reader.onload =  ()=> {
            questionimg.src = reader.result
            }
            UploadProcess() 
}




const newUserName = document.getElementById('newUserName')
const studentPhone = document.getElementById('studentPhone')
const parentPhone = document.getElementById('parentPhone')
const WhatsApp = document.getElementById('WhatsApp')
const Government = document.getElementById('government')
const markez = document.getElementById('government')
const schoolName = document.getElementById('schoolName')
const ID = document.getElementById('ID')

async function UploadProcess() {
document.getElementById("progress-bar").innerHTML = "برجاء الانتظار يتم رفع الصوره"  
var ImgToUpload = files[0];
const metaData = {
      contentType: ImgToUpload.type
}
  const storage = getStorage(storageApp);
  const stroageRef = sRef(storage, "BioDiva/"+ "profilePhotos/"+  files[0].name);
  const UploadTask = uploadBytesResumable(stroageRef, ImgToUpload, metaData);
  UploadTask.on('state-changed', (snapshot) => {
      var progess = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
      
      document.getElementById("progress-bar").innerHTML =progess.toFixed(2) + "%"
      document.getElementById("progress-bar").style.width = progess.toFixed(2) + "%" 
  },
  (error) => {
          alert("error")
      },
      () => {
          getDownloadURL(UploadTask.snapshot.ref).then((downloadURL) => {
          imgUrl = downloadURL
          document.getElementById("questionPhoto").value = imgUrl
          document.getElementById("progress-bar").innerHTML = "Done"   
          })
      }
  );

}




</script>

</body>


</html>